/* OSNOVNO */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* HEADER */
header {
    width: 100%;
    background: linear-gradient(to right, orange, orangered);
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

/* MENU DROPDOWN ISPOD HEADERA */
.menu {
    background: #444;
    color: white;
    padding: 10px 15px;
    width: 100px;                 
    margin: 10px 0 10px 20px;     
    border-radius: 5px;           
    cursor: pointer;    
    box-sizing: border-box;
    position: relative;
}

/* DROPDOWN */
.dropdown {
    display: none;
    background: #5a2d2d;
    padding: 20px;
    width: 220px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    z-index: 2000;
}

.menu:hover .dropdown {
    display: block;
}

/* STIL LISTE */
.dropdown h3 {
    margin-top: 0;
}

.dropdown ul {
    list-style: disc;
    padding-left: 20px;
}

.dropdown li {
    margin: 10px 0;
}

.dropdown a {
    color: white;
    text-decoration: none;
}

/* MAIN SADRŽAJ */
main {
    padding: 20px;
    margin-top: 10px;
}

/* NASLOV */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3b3b8f;
}

/* HISTOGRAM */
.chart {
    max-width: 700px;
    margin: 20px auto;
}

.bar {
    position: relative;
    background: #d98c8c;
    margin: 12px 0;
    height: 35px;
    border-radius: 6px;
    overflow: hidden;
}

.fill {
    height: 100%;
    background: #2d6cdf;
    width: 0;
    border-radius: 6px;
    animation: grow 1.5s forwards;
}

.bar span {
    position: absolute;
    left: 10px;
    top: 7px;
    font-weight: bold;
}

/* ANIMACIJA */
@keyframes grow {
    from { width: 0; }
}

/* HOVER EFEKT */
.bar:hover .fill {
    background: #1a4fbf;
}

/* FOOTER */
footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    box-sizing: border-box;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        padding: 20px 10px;
    }

    .menu {
        width: 100px;
        margin-left: 10px;
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    .chart {
        width: 100%;
    }
}