<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Galerija slika">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slike</title>

    <!-- ISTI CSS KAO INDEX -->
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>

<header>
    <h1>Dobrodošli na galeriju slika</h1>
</header>

<!-- ISTI MENU KAO INDEX -->
<nav class="menu" aria-label="Primarna navigacija">
    ☰ Menu
    <div class="dropdown">
        <h3>Primarna navigacija</h3>
        <ul>
            <li><a href="/">Početna</a></li>
            <li><a href="grafikon.html">Grafikoni</a></li>
            <li><a href="slike.html">Galerija</a></li>
            <li><a href="/slike">Slike</a></li>

        </ul>
    </div>
</nav>

<main>

    <h2>Galerija slika</h2>

    <section class="gallery">

        <% images.forEach((image) => { %>

            <figure>
                <!-- klik otvara sliku -->
                <a href="<%= image.url %>" target="_blank">
                    <img src="<%= image.url %>" alt="<%= image.title %>">
                </a>
                <figcaption><%= image.title %></figcaption>
            </figure>

        <% }) %>

    </section>

</main>

<footer>
    <p>&copy; 2025. Web Programiranje</p>
</footer>

</body>
</html>